In [ ]:
create database sistemainventario

In [ ]:
use sistemainventario;

In [ ]:
create table rol(
	idrol int primary key identity,
	nombrerol varchar(50),
	fecharegistro datetime default getdate()
)

In [ ]:
insert into rol (nombrerol) values ('administrador')
select * from rol

In [ ]:
create table permisos(
	idpermiso int primary key identity,
	idrol int references rol(idrol),
	nombremenu varchar(100),
	fecharegistro datetime default getdate()
)

In [ ]:
select * from permisos

In [ ]:
create table proveedores(
	idproveedor int primary key identity,
	documento varchar(50),
	razonsocial varchar(50),
	correo varchar(50),
	telefono varchar(50),
	estado bit,
	fecharegistro date default getdate()
)

In [ ]:
create table clientes(
	idcliente int primary key identity,
	documento varchar(50),
	nombres varchar(50),
	apellidos varchar(50),
	correo varchar(50),
	telefono char(9),
	estado bit,
	fecharegistro date default getdate()
)

In [ ]:
insert into clientes (documento, nombres, apellidos, correo, telefono) values
('12345678', 'tio nacho', 'soyuz', 'tionacho@soyuz.com', '987654321')

In [ ]:
select idcliente, documento, nombres, apellidos, correo, telefono from clientes

In [ ]:
create table usuarios(
	idusuario int primary key identity,
	documento varchar(50),
	nombreusuario varchar(50),
	correo varchar(50),
	clave varchar(50),
	idrol int references rol(idrol),
	estado bit not null default 1,
	fecharegistro datetime default getdate()
)

In [ ]:
insert into usuarios (documento, nombreusuario, correo, clave, idrol) values
	('12345678', 'pepe', 'pepe@hotmail.pe', '12345', 1),
	('12345688', 'pedro', 'pedro@gmail.com', '12345', 2)
select * from usuarios

In [ ]:
create table categorias(
	idcategoria int primary key identity,
	nombrecategoria varchar(100),
	estado bit not null default 1,
	fecharegistro datetime default getdate()
)

In [ ]:
select idcategoria, nombrecategoria, fecharegistro from categorias

In [ ]:
insert into categorias (nombrecategoria) values
	('categoria de prueba')
select * from categorias

In [ ]:
create table tallasropa (
	idtallaropa int primary key identity,
	nombretalla varchar(50)
)

In [ ]:
insert into tallasropa (nombretalla) VALUES ('S'), ('M'), ('L'), ('XL'), ('XXL')

In [ ]:
SELECT * FROM tallasropa

In [ ]:
select idtallaropa, nombretalla from tallasropa

In [ ]:
create table tallaszapatos (
	idtallazapato int primary key identity,
	tallazapato varchar(50)
)

In [ ]:
create table productosropa(
	idproducto int primary key identity,
	imagenes image null,
	codigo varchar(50) not null,
	nombre varchar(50) not null,
	descripcion varchar(50) not null,
	idcategoria int references categorias(idcategoria) not null,
	idtallaropa int REFERENCES tallasropa(idtallaropa) not null,
	stock int default 0 not null,
	colores varchar(40) not null,
	numcaja varchar(50) not null,
	preciocompra decimal(10,2) default 0,
	precioventa decimal(10,2) default 0 not null,
	estado bit not null default 1,
	fecharegistro datetime default getdate()
)

alter table productos add imagenes image;

alter table productos add numcaja varchar(50);

In [ ]:
insert into productosropa (codigo, nombre, descripcion, idcategoria, idtallaropa, stock, colores, numcaja, precioventa) values
('113221466', 'prueba1', 'hola mundgg', 1, 1, '40', 'amarillo', 'caja 12', '150'),
('113221896', 'prueba2', 'hola mundo', 1, 2, '30', 'azul', 'bolsa 15', '69');
select * from productosropa

In [ ]:
select idproducto, codigo, nombre, descripcion, c.idcategoria, c.nombrecategoria, tr.idtallaropa, tr.nombretalla, stock, colores, numcaja, precioventa from productosropa p
inner join categorias c on c.idcategoria = p.idcategoria
inner join tallasropa tr on tr.idtallaropa = p.idtallaropa

In [ ]:
create table compras(
	idcompra int primary key identity,
	idusuario int references usuarios(idusuario),
	idproveedor int references proveedores(idproveedor),
	tipodocumento varchar(50),
	numerodocumento varchar(50),
	montototal decimal(10,2),
	fecharegistro datetime default getdate()
)

In [ ]:
select * from compras

In [ ]:
create table detalle_compra(
	iddetallecompra int primary key identity,
	idcompra int references compras(idcompra),
	idproducto int references productosropa(idproducto),
	preciocompra decimal(10,2) default 0,
	precioventa decimal(10,2) default 0,
	cantidad int,
	montototal decimal(10,2),
	fecharegistro datetime default getdate()
)

In [ ]:
create table ventas(
	idventa int primary key identity,
	idusuario int references usuarios(idusuario),
	tipodocumento varchar(50),
	numerodocumento varchar(50),
	documentocliente varchar(50),
	nombrecliente varchar(100),
	montopago decimal(10,2),
	montocambio decimal(10,2),
	montototal decimal(10,2),
	fecharegistro datetime default getdate()
)

In [ ]:
create table detalle_venta(
	iddetalleventa int primary key identity,
	idventa int references ventas(idventa),
	idproductos int references productosropa(idproducto),
	precioventa decimal(10,2),
	cantidad int,
	subtotal decimal(10,2),
	fecharegistro datetime default getdate()
)

In [ ]:
create table negocios(
	idnegocio int primary key identity,
	nombre varchar(60),
	ruc varchar(60),
	direccion varchar(60),
	logo varbinary(max) NULL
)